<a href="https://colab.research.google.com/github/tewei0328/database/blob/main/mta_sqlite3_product.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import sqlite3

conn=sqlite3.connect('aaa.db')

c=conn.cursor()

c.execute("""CREATE TABLE Product(

ID integer,

Name text,

Quantity integer

)""")

c.execute("INSERT INTO Product values(1234, 'Spoon', 33)")

c.execute("INSERT INTO Product values(2615, 'Fork', 17)")

c.execute("INSERT INTO Product values(3781, 'Plate', 20)")

c.execute("INSERT INTO Product values(4598, 'Cup', 51)")

c.execute("SELECT * FROM Product where Quantity>18")

c.fetchall()

[(1234, 'Spoon', 33), (3781, 'Plate', 20), (4598, 'Cup', 51)]

In [3]:
c.execute("SELECT count(*) FROM Product where Quantity>18")

c.fetchall()

[(3,)]