<a href="https://colab.research.google.com/github/tewei0328/database/blob/main/sqlite_MTA_count_markdown.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

處理資料（45題）

1.Product資料表包含下列資料。

ID | Name | Quantity
----|:-------|:---------:
1234|Spoon|33
2615|Fork|17
3781|Plate|20
4598|Cup|51


```
您執行下列陳述式： COUNT:個數
SELECT COUNT(*)
FROM Product WHERE Quantity>18
此陳述式傳回的值是什麼？
(A)1
(B)2
(C)3
(D)4
```

In [ ]:
import sqlite3
conn=sqlite3.connect('aaa.db')
c=conn.cursor()

In [ ]:
c.execute("""CREATE TABLE Product(
  ID integer,
  Name text,
  Quantity integer
  )""")

In [ ]:
c.execute("INSERT INTO Product values(1234, 'Spoon', 33)")
c.execute("INSERT INTO Product values(2615, 'Fork', 17)")
c.execute("INSERT INTO Product values(3781, 'Plate', 20)")
c.execute("INSERT INTO Product values(4598, 'Cup', 51)")

In [ ]:
c.execute("SELECT * FROM Product")

In [ ]:
c.fetchall()

[(1234, 'Spoon', 33),
 (2615, 'Fork', 17),
 (3781, 'Plate', 20),
 (4598, 'Cup', 51)]

In [ ]:
c.execute("SELECT count(*) FROM Product")

In [ ]:
c.fetchall()

[(4,)]

In [ ]:
c.execute("SELECT count(*) FROM Product where Quantity>18")

In [ ]:
c.fetchall()

[(3,)]