<a href="https://colab.research.google.com/github/tewei0328/database/blob/main/sqlite_excel.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import sqlite3
conn=sqlite3.connect('aaa.db')
c=conn.cursor()

In [ ]:
c.execute("""CREATE TABLE Product(
  ID integer,
  Name text,
  Quantity integer
  )""")

In [ ]:
c.execute("INSERT INTO Product values(1234, 'Spoon', 33)")
c.execute("INSERT INTO Product values(2615, 'Fork', 17)")
c.execute("INSERT INTO Product values(3781, 'Plate', 20)")
c.execute("INSERT INTO Product values(4598, 'Cup', 51)")

In [ ]:
c.execute("SELECT * FROM Product")
c.fetchall()

[(1234, 'Spoon', 33),
 (2615, 'Fork', 17),
 (3781, 'Plate', 20),
 (4598, 'Cup', 51)]

In [ ]:
c.execute("SELECT count(*) FROM Product where Quantity>18")
c.fetchall()

[(3,)]

In [ ]:
!pip install xlsxwriter

Collecting xlsxwriter
  Downloading https://files.pythonhosted.org/packages/6b/41/bf1aae04932d1eaffee1fc5f8b38ca47bbbf07d765129539bc4bcce1ce0c/XlsxWriter-1.3.7-py2.py3-none-any.whl (144kB)
     |████████████████████████████████| 153kB 2.8MB/s
Installing collected packages: xlsxwriter
Successfully installed xlsxwriter-1.3.7

In [ ]:
from xlsxwriter.workbook import Workbook
workbook = Workbook('bbb.xlsx')
worksheet = workbook.add_worksheet()

#conn=sqlite3.connect('test.sqlite')
#c=conn.cursor()
#c.execute("select * from abc")
#mysel=c.execute("select * from abc ")

mysel=c.execute("SELECT * FROM Product")
#c.fetchall()

for row in mysel:
 print(row)
 worksheet.write(0, 0, row[0])
workbook.close()

(1234, 'Spoon', 33)
(2615, 'Fork', 17)
(3781, 'Plate', 20)
(4598, 'Cup', 51)